@import "/src/styles/common";

.wrapper {
  position: fixed;
  background-color: $light-color;
  box-shadow: 1px 1px 5px $blur-color;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: $border-radius-1;
  z-index: 1000;
  transition: all 0.5s;

  &.disabled {
    display: none;
    transition: all 0.5s;
  }
}
