@import "/src/styles/common";

.wrapper {
  .foods-container {
    overflow: auto;
    .food-item {
      box-shadow: 1px 1px 2px $blur-color;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 5px;
      border-radius: $border-radius-1;
    }
  }
}
