@import "/src/styles/common";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: $blur-color, $alpha: 0.9);
  z-index: 900;

  > * {
    z-index: 999;
  }

  &.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &.disabled {
    display: none;
  }
}
